{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <h1>Demande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Dureé</th>
                <th>Datefin</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.datedebut ? demande.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ demande.dureé }}</td>
                <td>{{ demande.datefin ? demande.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ demande.statut }}</td>
                <td>
                    <a href="{{ path('demande_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('demande_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_new') }}">Create new</a>
{% endblock %}
